* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.title-header{
    color: antiquewhite;
    letter-spacing: 1em;
    padding: 2% 0;
    display: flex;
    justify-content: center;
    background:linear-gradient(to right, rgba(0, 0, 0, 0.814), rgba(0, 0, 0, 0.814), rgba(0, 0, 0, 0.814));
}

/*           ACÁ COMIENZA EL FOOTER         */

footer{
    background:linear-gradient(to right, rgba(0, 0, 0, 0.814), rgba(0, 0, 0, 0.814), rgba(0, 0, 0, 0.814));
}

.sotial-network {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 1em 0;
    color: beige;
}

footer div{
    margin-top: 1em;
}

.sotial-network i{
  font-size: 1.5em;
  text-align: center;
  color: beige;
}

/*           FIN DEL FOOTER         */

main .contact-form{
    padding-left: 5%;
}

main .d-flex .div-form{
    padding: 2%;
    color: black;
}

main .d-flex div span{
    color: black;
    background-color: lightgray;
}

main .main-form{
    height: 65vh;
}

.form-check-input{
    background-color: black;
}

.active{
    font-weight: bold;
    font-size: 18px;
}

/*                COMIENZO DE DETAILS                    */

.details-list li{
    padding: 1em;
    list-style-type: none;
    width: 33%;
    border: 1px solid black;
    border-radius: 10px;
    margin: 5px;
}

.details-div{
    border: none;
}

.details-span{
    font-weight: bold;
    background: none !important;
}

main div img{
    border-radius: 100px;
}

/*                FIN DE DETAILS                    */

/*           ACÁ COMIENZA LA TABLA DE STATS         */

.table-th{
    background-color: antiquewhite;
    text-transform: uppercase;
}

th{
    width: 99vw;
    text-align: center;
}

td{
    width: 33vw;
    text-align: center;
}

td, tr{
    border: 1px solid black;
    padding: 1em;
}

/*           FIN DE LA TABLA DE STATS         */