* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.title-header{
    color: antiquewhite;
    letter-spacing: 1em;
    padding: 2% 0;
    display: flex;
    justify-content: center;
    background:linear-gradient(to right, rgba(0, 0, 0, 0.814), rgba(0, 0, 0, 0.814), rgba(0, 0, 0, 0.814));
}

footer{
    background:linear-gradient(to right, rgba(0, 0, 0, 0.814), rgba(0, 0, 0, 0.814), rgba(0, 0, 0, 0.814));
}

.sotial-network {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 1em 0;
    color: beige;
}

footer div{
    margin-top: 1em;
}

.sotial-network i{
  font-size: 1.5em;
  text-align: center;
  color: beige;
}

main .contact-form{
    padding-left: 5%;
}

main .d-flex .div-form{
    padding: 2%;
    color: brown;
}

main .d-flex div span{
    color: brown;
    background-color: lightgray;
}

main .main-form{
    height: 65vh;
}

.form-check-input{
    background-color: black;
}

.active{
    font-weight: bold;
    font-size: 18px;
}

.details-list li{
    padding: 2%;
    list-style-type: none;
}

.details-div{
    border: none;
}

table{
    display: flex;
    flex-direction: column;
    width: 100vw;
}

th{
    width: 99vw;
    text-align: center;
}

td{
    width: 33vw;
    text-align: center;
}

td, tr{
    border-bottom: 1px solid black;
    padding: 30px;
    border-collapse: collapse;
}